<?xml version="1.0"?>
<clickhouse>
    <profiles>
        <default>
            <max_memory_usage>85899345920</max_memory_usage> <!-- 80 GB -->
            <use_uncompressed_cache>1</use_uncompressed_cache>
            <use_http_compression>1</use_http_compression>
            <use_cache>1</use_cache>
            <allow_experimental_database_functions>1</allow_experimental_database_functions>
            <!-- Add other necessary settings as per your requirements -->
        </default>
    </profiles>
</clickhouse>
